{% extends "layout.html" %}
{% block title %}
津山高専HR管理システム
{% endblock %}
{% block contents %}
{% if login == '1' %}
    {% if forgot == '0' %}
        <p>パスワードを忘れた方は房まで連絡してください。</p>
    {% elif forgot == '1' %}
        <p>パスワードを覚えていないものに使わせない。</p>
    {% elif forgot == '2' %}
        <p>記憶の鍛錬をしてから本システムを使ってください。</p>
    {% elif forgot == '3' %}
        <p>本システムはパスワードの再設定の機能がございません。</p>
    {% else %}
        <p>友達から彼・彼女のユーザー名とパスワードを聞いてログインしてください。</p>
    {% endif %}
{% else %}
    <p>ホームページから利用してください。</p>
{% endif %}
{% endblock %}
